In [64]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
#import libraries

In [65]:
df=pd.read_csv("iris.csv", header=0)
#Reading the dataset in a dataframe using Pandas

In [66]:
df.head()

   sepal_length   sepal_width   petal_length   petal_width      species
0           5.1           3.5            1.4           0.2  Iris-setosa
1           4.9           3.0            1.4           0.2  Iris-setosa
2           4.7           3.2            1.3           0.2  Iris-setosa
3           4.6           3.1            1.5           0.2  Iris-setosa
4           5.0           3.6            1.4           0.2  Iris-setosa

In [67]:
df.dtypes

sepal_length     float64
 sepal_width     float64
 petal_length    float64
 petal_width     float64
 species          object
dtype: object

In [68]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
sepal_length     150 non-null float64
 sepal_width     150 non-null float64
 petal_length    150 non-null float64
 petal_width     150 non-null float64
 species         150 non-null object
dtypes: float64(4), object(1)
memory usage: 5.9+ KB

In [77]:
df.columns=['sepal_length', 'sepal_width','petal_length','petal_width','species']
df.columns

Index([u'sepal_length', u'sepal_width', u'petal_length', u'petal_width',
       u'species'],
      dtype='object')

In [87]:
df['species'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [92]:
setosaonly= df[df['species']=='Iris-setosa']
versicoloronly= df[df['species']=='Iris-versicolor']
virginicaonly= df[df['species']=='Iris-virginica']
print('Iris-setosa:')
print setosaonly.describe()
print('Iris-versicolor:')
print versicoloronly.describe()
print('Iris-virginica:')
print virginicaonly.describe()

Iris-setosa:
       sepal_length  sepal_width  petal_length  petal_width
count      50.00000    50.000000     50.000000     50.00000
mean        5.00600     3.418000      1.464000      0.24400
std         0.35249     0.381024      0.173511      0.10721
min         4.30000     2.300000      1.000000      0.10000
25%         4.80000     3.125000      1.400000      0.20000
50%         5.00000     3.400000      1.500000      0.20000
75%         5.20000     3.675000      1.575000      0.30000
max         5.80000     4.400000      1.900000      0.60000
Iris-versicolor:
       sepal_length  sepal_width  petal_length  petal_width
count     50.000000    50.000000     50.000000    50.000000
mean       5.936000     2.770000      4.260000     1.326000
std        0.516171     0.313798      0.469911     0.197753
min        4.900000     2.000000      3.000000     1.000000
25%        5.600000     2.525000      4.000000     1.200000
50%        5.900000     2.800000      4.350000     1.300000
75%        6.300000     3.000000      4.600000     1.500000
max        7.000000     3.400000      5.100000     1.800000
Iris-virginica:
       sepal_length  sepal_width  petal_length  petal_width
count      50.00000    50.000000     50.000000     50.00000
mean        6.58800     2.974000      5.552000      2.02600
std         0.63588     0.322497      0.551895      0.27465
min         4.90000     2.200000      4.500000      1.40000
25%         6.22500     2.800000      5.100000      1.80000
50%         6.50000     3.000000      5.550000      2.00000
75%         6.90000     3.175000      5.875000      2.30000
max         7.90000     3.800000      6.900000      2.50000

In [95]:
train=df.sample(frac=0.8,replace=False)
test=df.drop(train.index)

In [109]:
print len(train)
train.head()

120

     sepal_length  sepal_width  petal_length  petal_width          species
30            4.8          3.1           1.6          0.2      Iris-setosa
48            5.3          3.7           1.5          0.2      Iris-setosa
59            5.2          2.7           3.9          1.4  Iris-versicolor
22            4.6          3.6           1.0          0.2      Iris-setosa
132           6.4          2.8           5.6          2.2   Iris-virginica

In [110]:
print len(test)
test.head()

30

    sepal_length  sepal_width  petal_length  petal_width      species
6            4.6          3.4           1.4          0.3  Iris-setosa
16           5.4          3.9           1.3          0.4  Iris-setosa
20           5.4          3.4           1.7          0.2  Iris-setosa
24           4.8          3.4           1.9          0.2  Iris-setosa
36           5.5          3.5           1.3          0.2  Iris-setosa

In [127]:
from sklearn.neighbors import KNeighborsClassifier
# 5-nn
knn = KNeighborsClassifier(n_neighbors=5)

In [128]:
features = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width']

In [131]:
knn.fit(train[features], train['species'])

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform')

In [132]:
preds = knn.predict(test[features])

In [134]:
preds==test['species']

6       True
16      True
20      True
24      True
36      True
40      True
41      True
45      True
49      True
51      True
55      True
65      True
68      True
75      True
82      True
84      True
86      True
87      True
97      True
98      True
109     True
110     True
112     True
114     True
118     True
120     True
126     True
133    False
137     True
138     True
Name: species, dtype: bool